@-webkit-keyframes emphasize {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.4);
	}
}

@-moz-keyframes emphasize {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.4);
	}
}

@-webkit-keyframes glimmer {
	from {
		box-shadow: 0 0 10px rgba(255,255,255,1), inset 0 0 10px rgba(255,255,255,1);
	}
	to {
		box-shadow: 0 0 100px rgba(255,255,255,1), inset 0 0 20px rgba(255,255,255,1);
	}
}

@-moz-keyframes glimmer {
	from {
		box-shadow: 0 0 10px rgba(255,255,255,1), inset 0 0 10px rgba(255,255,255,1);
	}
	to {
		box-shadow: 0 0 100px rgba(255,255,255,1), inset 0 0 20px rgba(255,255,255,1);
	}
}

@-webkit-keyframes drop {
	0% {
		background-position: center -100px;
	}
	50% {
		background-position: center 0;
	}
	100% {
		background-position: center 100px;
	}
}

@-moz-keyframes drop {
	0% {
		background-position: center -100px;
	}
	50% {
		background-position: center 0;
	}
	100% {
		background-position: center 100px;
	}
}
