.cell.drop {
	-webkit-animation: drop 200ms ease 1;
	-moz-animation: drop 200ms ease 1;
}

.board[data-player="1"] .cell.drop {
	background-image: radial-gradient(circle, rgba(212,51,47,1), rgba(162,41,37,1) 70%, rgba(255,255,255,1) 75%);
}

.board[data-player="2"] .cell.drop {
	background-image: radial-gradient(circle, rgba(56,54,62,1), rgba(16,14,22,1) 70%, rgba(255,255,255,1) 75%);
}

.cell[data-player="1"] {
	background-image: radial-gradient(circle, rgba(212,51,47,1), rgba(162,41,37,1));
	box-shadow: inset 0 0 10px rgba(80,80,80,1);
	background-color: rgba(212,51,47,1);
}

.cell[data-player="2"] {
	background-image: radial-gradient(circle, rgba(56,54,62,1), rgba(16,14,22,1));
	box-shadow: inset 0 0 10px rgba(180,180,180,1);
	background-color: rgba(16,14,22,1);
}

.cell.winner {
	-webkit-animation: emphasize 150ms ease 2 alternate, glimmer 500ms ease 600ms infinite alternate;
	-moz-animation: emphasize 150ms ease 2 alternate, glimmer 500ms ease 600ms infinite alternate;
}
