.dialog {
	background-color: rgba(255,255,255,0.8);
	bottom: 0;
	left: 0;
	display: none;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transition: opacity 150ms ease;
	-webkit-transition: opacity 150ms ease;
}

.dialog.show {
	display: block;
	opacity: 0;
}

.dialog.show.in {
	opacity: 1;
}

.dialog.hide {
	display: none;
}

.dialog main {
	background: rgba(255,255,255,1);
	border-radius: 1em;
	border: 8px solid rgba(94, 142, 197, 1);
	margin: 15% auto;
	padding: 1em 0;
	width: 50%;

	transform: translate3d(-100%,0,0);
	-webkit-transform: translate3d(-100%,0,0);

	transition: transform 250ms ease;
	-webkit-transition: transform 250ms ease;
}

@media screen and (max-width:640px) {
	.dialog main {
		margin-top: 25%;
		width: 90%;
	}
}

@media screen and (max-width:980px) {
	.dialog main {
		width: 70%;
	}
}

.dialog.in.show main {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.dialog.out main {
	transform: translate3d(100%,0,0);
	-webkit-transform: translate3d(100%,0,0);
}

.dialog h2 {
	color: rgba(212,51,47,1);
	font-size: 1.6em;
	text-transform: uppercase;
}

.dialog h3 {
	color: rgba(120,120,120,1);
	font-size: 1.2em;
}

.dialog input {
	border: 2px solid rgba(80,80,80,1);
	color: #333;
	font-size: 1.6em;
	padding: 0.2em;
	margin: 0.5em 0 1em;
	outline: none;
	width: 60%;
}

.dialog button {
	background-color: rgba(212,51,47,1);
	border-radius: 0.5em;
	border: 0.2em solid rgba(172,11,17,1);
	color: #FFF;
	cursor: pointer;
	font-size: 1.4em;
	height: 2em;
	outline: none;
	width: 70%;

	-webkit-tap-highlight-color: transparent;
}

.dialog button:active {
	background-color: rgba(172,11,17,1);
	border-color: rgba(212,51,47,1);
	color: rgba(200,200,200,1);
	line-height: 1.6em;
}
