@import url(reset.css);
@import url(animations.css);
@import url(dialog.css);
@import url(cellStates.css);

html {
	font: 62.5%/1.6 "futura", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: rgba(72,93,160,1);	
	font-size: 1.4em;
	text-align: center;
	overflow: hidden;

	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

section {
	margin: 0 0 2em;
	padding: 1em 0 0;
	text-align: center;
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) {
	section {
		margin: 0 0 1em;
		padding: 1em 0 0;
	}
}

section img {
	max-height: 10%;
	max-width: 90%;
}

.board {
	background-color: rgba(235,223,96,1);
	border: 5px solid rgba(215,173,66,1);
	display: inline-block;
	padding: 0.5em 1em;
	position: relative;
}

.board:after {
	background-color: rgba(0,0,0,0.7);
	content: " ";
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	height: 8px;
	right: 0;
	z-index: 0;

	filter: blur(20px);
	-webkit-filter: blur(20px);
}

.row {
	border-bottom: 2px solid rgba(197, 186, 77, 0.5);
	padding: 0.4em 0;
	position: relative;
}

.row:last-child {
	border-bottom: none;
}

.cell {
	background-color: rgba(255,255,255,1);
	background-position: center -70px;
	background-repeat: no-repeat;
	border: 2px solid rgba(197, 186, 77, 1);
	border-radius: 100%;
	float: left;
	margin-right: 0.8em;
	position: relative;
	transition: background-position 100ms ease 500ms;
}

.cell:after {
	border-right: 2px solid rgba(197, 186, 77, 0.5);
	content: " ";
	display: block;
	height: 80px;
	position: absolute;
	height: 100%;
	right: -0.6em;
}

.cell:last-child {
	margin-right: 0
}

.cell:last-child:after {
	display: none;
}

.row {
	height: 72px;
}

.cell {
	height: 70px;
	width: 70px;
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) {
	.row {
		height: 27px;
	}

	.cell {
		height: 25px;
		width: 25px;
	}	
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	.row {
		height: 72px;
	}

	.cell {
		height: 70px;
		width: 70px;
	}	
}

@media screen and (min-width:1025px) {
	.row {
		height: 102px;
	}

	.cell {
		background-position: center -100px;
		height: 100px;
		width: 100px;
	}
}

.players {
	color: rgba(255,255,255,1);
	font-size: 1.4em;
	padding: 1em;
	text-align: left;
}

.players h3.active:after {
	border-radius: 100%;
	content: " ";
	display: inline-block;
	position: absolute;
	right: -0.5em;
	height: 0.5em;;
	width: 0.5em;
}

.players h3:first-child {
	float: left;
}

.players h3:last-child {
	float: right;
}

@media screen and (orientation: landscape) {
	.players {
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
	}
}
